/* Shared style */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    color: #FFF;
    font-size: 1.25rem;

    font-weight: 600;

}

/* header section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

/* 1rem=16px */
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;

    font-weight: 500;

}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

.nav-title {
    color: var(--Dark-01, #131313);

    font-size: 2.8rem;

    font-weight: 700;

}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;

}

.banner-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;

    font-weight: 400;

    margin-bottom: 32px;
    /* 162.5% */
}

.banner-content {
    width: 800px;

    text-align: center;
    /* up-down is 0 , right left is auto */
    margin: 0 auto;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* Main style */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    display: flex;
    align-items: center;

    margin-top: 85px;
    margin-bottom: 130px;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 8px;
}



.teams-content {
    padding-left: 73px;
    padding-right: 73px;
}

.teams-content-title {
    font-size: 2.8125rem;
}

#tct1 {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

#tct2 {
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

#tct3 {
    color: #FF900E;
    font-weight: 700;
}

.teams-content-description {
    color: var(--Dark-03, #727272);

    font-size: 1rem;

    font-weight: 400;

}




/* Responsive media query */
/* Mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,.teams-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;

    }
    .teams-img-container {
        
        grid-template-columns: repeat(1, 1fr);
        
    }
    

}

/* Tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {

    header {
        padding: 50px;
    }

    nav,.teams-container {
        flex-direction: column;
    }

}